* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(241, 241, 241);
}

.header {
    box-shadow: 0 0 5px 1px rgb(170, 170, 170);
    padding: 20px 50px;
    background-color: rgb(29, 216, 107);
    color: rgb(8, 94, 0);
}

.header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}

form.create-note {
    position: relative;
    margin: 30px auto 100px auto;
    width: 50%;
}

form.create-note input {
    width: 100%;
    border: none;
    outline: none;
    color: rgb(83, 83, 83);
    font-size: 1.5rem;
    box-shadow: 0 0 5px 1px rgb(170, 170, 170);
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

form.create-note button {
    position: absolute;
    height: 80px;
    bottom: -8px;
    border: none;
    color: rgb(20, 199, 94);
    transition: 0.1s;
    background-color: rgb(241, 241, 241);
    font-size: 4.5rem;
}

form.create-note i {
    position: relative;
    height: 60px;
    bottom: 15px;
}

.item-input {
    display: inline-block;
    width: 90%;
}

.submit-btn {
    display: inline-block;
    border: none;
    color: rgb(20, 199, 94);
    transition: 0.1s;
    margin-left: 5px;
    text-align: right;
    background-color: rgb(241, 241, 241);
}

form.create-note button:hover {
    color: rgb(23, 146, 74);
}

.item {
    width: 50%;
    margin: 5px auto;
}

.item div {
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(170, 170, 170);
    padding: 15px;   
}

.item p {
    font-size: 1.2rem;
    margin: 0;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.item button {
    outline: none;
    border: none;
    padding: 1px 3px;
}

.item button:hover {
    color: rgb(90, 90, 90);
}

.done {
    background-color: grey;
    text-decoration: line-through;
    color: white;
}

.not-done {
    background-color: white;
    color: rgb(83, 83, 83);
}

@media screen and (max-width: 1024px) {

    .header {
        text-align: center;
    }

    .header h1 {
        font-size: 10rem;
    }

    form.create-note {
        margin: 30px auto 150px auto;
        width: 98%;
    }

    form.create-note input {
        width: 100%;
        font-size: 5rem;
    }

    .item {
        width: 100%;
        margin: 5px auto;
    }

    .item div {
        width: 98%;
        margin: auto;
    }

    .item p {
        font-size: 3rem;
    }

    .submit-btn {
        position: absolute;
        transform: rotate(90deg);
        right: 54%;
        top: 120%;
    }

    form.create-note button {
        height: 120px;
        width: 80px;
        font-size: 7rem;
    }

    form.create-note i {
        height: 110px;
        bottom: 20px;
    }

    .item-input {
        display: block;
        width: 100%;
    }
}